<div class="container-fluid content">
	<h1>About MnM</h1>
	<p>Car installations never got easier. We are mobile, convenient to your schedule and location. Why take a day off work to bring your car to the shop? We'll go to your work to do the installation!
	</p>
	<p>We offer a variety of aftermarket electronics, select a category from the list</p>
</div>
