<div class="container-fluid content" id="wrapper">
	<p id="video-controls" class="black-65">Video controls:<br /><a href="#" class="tubular-play">Play</a> | <a href="#" class="tubular-pause">Pause</a> | <a href="#" class="tubular-volume-up">Volume Up</a> | <a href="#" class="tubular-volume-down">Volume Down</a> | <a href="#" class="tubular-mute">Mute</a></p>
	<h1>About MnM</h1>
	<p>Car installations has just gotten easier for you. We are mobile, convenient to your schedule and location. Why take a day off work to bring your car to the shop? We'll go to your work to do the installation!
	</p>
	<p>We offer a variety of aftermarket electronics, select a product from the Products list from the list</p>

	<%= image_tag("MnM logo.jpg", id: "company-logo") %>

</div>

