
	<h1>Music in Motion</h1>
	<h2>Welcome!</h2>
	<p>We take care of you, we come to wherever you are<p>
<div class="container-fluid content">
	
	<%= image_tag("MnM logo.jpg", id: "company-logo") %>

</div>
