<div class="container-fluid content">
	<h1>Music in Motion</h1>
	<h2>Welcome!</h2>
	<p>We take care of you, we come to wherever you are<p>

	<div class="company-logo">
		<%= image_tag("MnM logo.jpg", class: "img-responsive company-logo") %>
	<div>
	   
</div>
