<!DOCTYPE html>
<html>


</head>
	<body>
		<h1>MNM Mobile Installations Corporation</h1>
		<h2>Welcome!</h2>
		<p>We take care of you, we come to wherever you are<p>


		<%= image_tag("MnM logo.jpg", class: "img-responsive company-logo") %>
   

	</body>
</html>