// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




// Title //

.products h1 {
	text-align : center ;
}

// Title end //

// Title typography // 

.products h1 {
	color: blue ;
	text-shadow : 1px 1px 1px black ;
}



// Title typography end // 

// Carousel //
.carousel-inner
.item
img {
	margin : auto ;
	padding-top : 5% ;
}

.carousel-caption {
	position : relative ;
	left : auto ;
	right : auto ;
}

// Carousel end //

// Carousel typography //
.carousel-caption a:visited {
	color : red ;
	text-shadow : 1px 1px 1px black ;
}

.carousel-caption a:hover {
	background : red ;
	color : white ;
}

// Carousel typography end //

// Show page //

.pagination_show_page {
	text-align : center ;
}