html,
body {
	height : 100% ;
}

h1 {
	color: red ;
	font-family : Georgia ;
}

.navbar {
	position : relative ;
	margin : 0 ;
}

.company-logo {
	margin : 0px -15px ;
}

.footer-logo img {
	position : relative ;
	text-align : center ;
	width : 8% ;
	border : 1px solid white;
	margin-bottom : 4px ;
}

nav ul{
	color : white ;
	text-shadow : 1px 1px 1px red ;
}

.nav-logo img {
	height : 140% ;
}

/**** Footer ****/

footer {
	text-align : center ;
	padding-top : 50px ;
	padding-bottom : 4% ;
	width : 100% ;
}

footer {
	color : white ;
	text-shadow : 1px 1px 1px red ;
	background-color : black ;
}

.content {
	margin-bottom : 12% ;
}


/**** End footer ****/



