
body {
	padding-top : 9% ;
	margin : 0 ;
	height : 100% ;
}

h1 {
	color: red ;
	font-family : Georgia ;
}

.company-logo img {
	text-align : center ;
	margin-bottom : 0 ;
	position : relative ;
}

.footer-logo img {
	position : relative ;
	text-align : center ;
	width : 8% ;
	border : 1px solid white;
	margin-bottom : 4px ;
}

nav ul{
	color : white ;
	text-shadow : 1px 1px 1px red ;
}

.nav-logo img {
	height : 140% ;
}

/**** Footer ****/

footer {
	text-align : center ;
	padding-top : 50px ;
}

footer {
	color : white ;
	text-shadow : 1px 1px 1px red ;
}

* {
  margin: 0;
}
html, body, .content {
  height: 100%;
}
.content {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
  margin : 0px ;
}
.content:after {
  content: "";
  display: block;
}
.site-footer, .contentafter {
  height: 142px; 
}
.site-footer {
  background: black;
}
/**** End footer ****/




