html,
body {
	height : 100% ;
}

h1 {
	color: red ;
	font-family : Georgia ;
}

.navbar {
	position : relative ;
	margin : 0 ;
}

.company-logo {
	margin : 0px -15px ;
}

.footer-logo img {
	position : relative ;
	text-align : center ;
	width : 8% ;
	border : 1px solid white;
	margin-bottom : 4px ;
}

nav ul{
	color : white ;
	text-shadow : 1px 1px 1px red ;
}

.nav-logo img {
	height : 140% ;
}

.products h1 {
	text-align : center ;
}

/**** Search bar ****/
#search_bar
label {
	color : white ;
	text-shadow : 1px 1px 1px red ;
}

#search_bar
input[type=submit] {
	color : red ;
	background-color : white ;
}

#search_bar 
button 
input 
select {
	color : blue ;
}

/**** Search bar end ****/

/**** Edit Form ****/
.edit_form h1, .edit_form {
	text-align : center ; 
}

#product_form,
input {
	color : blue ;
}

.field, .actions {
	text-align : center ;
}

/**** Edit Form end ****/

/**** Footer ****/

footer {
	text-align : center ;
	padding-top : 50px ;
	padding-bottom : 4% ;
	width : 100% ;
}

footer {
	color : white ;
	text-shadow : 1px 1px 1px red ;
	background-color : black ;
}

.content {
	margin-bottom : 12% ;
}


/**** End footer ****/



